[Unit]
Description=rideside.net
After=network.target

[Service]
ExecStart=/usr/local/bin/bundle exec puma
WorkingDirectory={{ deploy_dir }}
StandardOutput=inherit
StandardError=inherit
Restart=always
User={{ service_user }}
Environment=DATABASE_URL={{ db_url }}
Environment=TUMBLR_CONSUMER_KEY={{ tumblr_key }}
Environment=TUMBLR_CONSUMER_SECRET={{ tumblr_secret }}
Environment=RACK_ENV=production

[Install]
WantedBy=multi-user.target
