[all:vars]
ansible_connection=ssh
ansible_user=tgl
ansible_python_interpreter=/usr/bin/python3
build_dir="/home/{{ ansible_user }}"
app_dir="{{ build_dir }}/rideside"
src_dir=/tmp/rideside.net/deployment
home_dir=/home/ubuntu
deploy_dir="{{ home_dir }}/rideside"

[servers]
<add_server_hosts>

[servers:vars]
lxc_name=<add_container_name>
db_url=<add_mysql_connection>
tumblr_key=<add_tumblr_consumer_key>
tumblr_secret=<add_tumblr_consumer_secret>
