%div
  %h1
    <a href="">RIDESIDE.NET</a>
  %h2
    about

%div
  A couple things you should know:
  %ol
    %li
      Reply to the comment you are replying to.
    %li
      Bookmark <a href="">this link</a>, it really is the best way to see what's happening.
    %li
      Tommy is pretty much right about stuff.
    %li
      There is only one bridge to the ride siiiiiiiiiiiiide.
    %li
      Comments can be viewed Flat or Threaded. Decided for yourself which you prefer. Flat gives comments in date order. But please...
    %li
      Reply to the comment you are replying to.