!!! Strict
%html{:lang => "en"}
  %head
    %meta{:charset=>"utf8"}
    %meta{:name=>"viewport",:content=>"width=device-width, initial-scale=1.0"}
    %meta{:name=>"description",:content=>""}
    %meta{:name=>"author",:content=>""}

    
  %title
    WWW.RIDESIDE.NET
  %link{:href=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css", :rel=>"stylesheet"}
  %link{:href=>"css/main.css", :rel=>"stylesheet"}

  %body
    %div
      %h1
        WWW.RIDESIDE.NET
      %h2
        <a href="/">home</a> | <a href="/about">about</a> | <a href="/tracker">tracker</a> | <a href="/comics">comics</a>


    %div
      %em
        = Quip.make


    %div
      Powered by <a href="http://tumblr.com">tumblr.com</a> (<< click there to post).

    != yield
    

    %div
      E-mail to <a mailto="tgl@rideside.net">tgl@rideside.net</a> to add your tumblr.

    %div
      Find me on <a href="http://github.com/terryg/rideside.net">github</a>.

    = File.read(File.join('views', 'google_analytics.html'))

    %script{:src=>"http://code.jquery.com/jquery.js"}
    %script{:src=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"}
