.content
  :markdown
    # Terry G Lorber II
    ## Manager, Software & Product Development        

    > [tgl@rideside.net](tgl@rideside.net)  
    > +1-781-632-0733
  
    ## Profile
    Looking to use my 15+ years engineering experience and 3 years management experience to lead a diverse team to solve problems in the healthcare space. Experienced in developing software to enable highly automated workflows for the manufacture of custom prosthetic devices. I enjoy tackling problems and finding answers, especially if the answer requires learning new tools or methods.

    ## Keywords
    C/C++, Ruby, SQL, Java, Javascript, Python, PHP, BASH, LOGO, Kan Ban, Agile, GoF's Design Patterns, Booch's UML, Fowler's Continuous Integration, Spolsky & Atwood, Beck's XP, Tufte, Windows, Mac OS, Ubuntu, RHEL, Emacs, Git, Subversion, Cygwin, CMake, Visual Studio, Eclipse, VTK, FLTK, KWWidgets, Win32 API, Unigraphics NX API, OpenGL, Ruby on Rails, Prototype, Script.aculo.us, Drupal, MFC, Unidraw, Heroku, AWS S3, Hadoop

    ## Experience

    `Aug11-Present`
    __DENTSPLY Implants, Waltham, MA__

    - Manager, Global Digital Product Development

    Managed interdisciplinary team of 5 direct reports.  Worked across boundaries with colleagues in Marketing & Communications, Operations, and Customer Service departments. Team responsible for defining and delivering software-based products to support and expand upon DENTSPLY Implant’s CAD/CAM custom dental implant abutment, the ATLANTIS™ Abutment. Responsible for assembling cross-functional teams, planning, and scheduling projects. Project work required defining use cases, specifications, and interface requirements for both internal software developers and external business partners.  Project hand-off to Marketing for commercialization including end-user & support documentation, and training materials.  Responsible for budgeting, with ~$200,000 of discretionary and capital expenditures per year. Reported to VP of Development.
    Launched the 3rd ATLANTIS Lab-based scanning platform.  Enabling  25% of business to arrive in digital form.
    Led planning & started development of integration with intra-oral scanning systems. Potential to design & manufacture CAD/CAM custom dental implant abutments with no physical models.
    Launched 1st all digital ATLANTIS product, the ATLANTIS™ Abutment Core File.  This downloadable offering allows dental labs to make use of their CAD/CAM tools before receipt of the physical abutment. Product delivered to the customer automatically, with no labor component, boosting Gross Margin.
    Involved in business development, interfacing with outside partners to define shared goals and objectives. Executed business agreements.
    Continued role as mentor to software team, resource for architecture and implementation decisions.

    `Oct07-Aug11`
    __Astra Tech, Waltham, MA__
    (DENTSPLY International Inc. acquired Astra Tech AB)

    - Manager, Global Digital Product Development `Aug10-Aug11`

    In first year as manager, hired 2 Sr. Engineers, successfully integrating into the existing team, doubling it's size. 
    Launched the 2nd ATLANTIS Lab-based scanning platforms. Converting an additional 10% of the business to all-digital order entry. 

    - Consulting Software Engineer `Jan09–Aug10` 
    - Principal Software Engineer `Oct07–Jan09` 

    Leader on development team of 12 software engineers.  Focused on mentoring teammates on best practices, particularly within the Ruby on Rails web application framework. Interfaced with all aspects of a global organization to determine software requirements. Continued development on 3 enterprise software applications that incorporated parameterized geometric models and expert systems to aid in the manufacture of abutments for dental implants. Installed and maintained tools for software development: source control, bug database, continuous integration dashboard, release website, and web log.  Gathered requirements, documented design, implemented code, released software, tracked bugs, and patched software.
    Lead developer on integration efforts.
    Supported transfer of technology to second source, in Mölndal, Sweden.
    Integrated existing proprietary CAD system with new ERP system, re-using library developed using the Data Access Object pattern.
    Lead developer for the 1st  ATLANTIS Lab-based scanning platform.  Converting 15% of the business to all-digital order entry, reducing Cost-of-Goods sold.

    `Aug00-Oct07` 
    __Atlantis Components, Inc, Cambridge, MA__
    (Astra Tech AB acquired Atlantis Components, Inc.)

    - Principal Software Engineer 
    `Jan07–Oct07` 
    - Senior Software Engineer `Jun04–Jan07` 
    - Senior Engineer `Sep02–Jun04` 
    - Mechanical Engineer `Aug00–Sep02` 

    An early member of the engineering team, contributed immediately by delivering software tools to reduce labor in the scan & design steps of the ATLANTIS process.  Quickly learned software development best practices as sole developer on staff.  As the team grew, worked as a mentor to other members.
    Created software systems that are still in use, to enable and support global sales exceeding $50 million/year
    Specified, designed and implemented the ATLANTIS VAD™ software suite
    Enabled daily global production capacity to increase from 1/day to 1,000/day
    Specified, designed and implemented ATLANTIS™ WebOrder, using the Ruby on Rails framework
    Reduced order entry time by 25%
    Reduced data entry error
    When used with remote scanning support, transferred data acquisition responsibility to the customer, saving labor costs
    Specified, designed, and implemented Solon, the scanner interface application
    Decreased time to scan customer orders by 20%
    Implemented build and release system using BASH, CMake, and NSIS
    Gathered requirements for applications to support data archival and replication
    Designed and implemented applications to automate use of CAD models for designing dental implant abutments
    Implemented feature detection algorithms for determining implant replica placement within study model scan data
    Installed and maintained development tools: Subversion, Bugzilla, and Drupal

    `Jun96–Sep99`
    __Freudenberg-NOK General Partnership, Bristol, NH__
    - Product Engineer

    Leader of a cross–functional team supporting custom designed oil seals for the Aerospace and Automotive industry. Managed product process from initial design and quoting to production launching and troubleshooting. Experienced in compression, transfer and injection molding processes. Created test plans for material & product development. Participated in Kaizen activity to implement lean manufacturing processes. Involved in implementation of quality systems to meet FAA and customer requirements.

    ## Education

    __Boston University, Metropolitan College – Boston, MA__

    M.S. in Computer Science  `Sep 2013`

    Undergraduate Certificate in Software Development  `May 2010`

    __University of Michigan, College of Engineering – Ann Arbor, MI__

    B.S.E. (Mechanical Engineering)  `May 1996`

    ## Honors & Interests
    - Eagle Scout
    - UM College of Engineering Leadership Honor Society, member
    - 1974 Datsun 260Z, owner
    - Brewer  
    - Surfer
    - Telemark Skier
    - Saponifier 