%h1
  Stuffed Quahog
%h2
  Leona (Castano) Lorber
  
%hr

%ul
  %li 2 cups ground quahogs & liquor
  %li 3 cups "stove top" stuffing
  %li 1 egg
  %li 4 tablespoons butter
  %li 1/2 onion
  %li 2 tablespoons green pepper
  %li 1/2 cup celery
  %li 2 cloves garlic, minced
  %li salt + pepper

Saute onion, green pepper, celery, garlic in butter.

Combine with rest of ingredients and stuff shells.

Bake at 350 degrees for 40 minutes or golden brown.
