!!! Strict
%html{:lang=>"en",:dir => "ltr"}
  %head
    %meta{:charset=>"utf8"}
    %title
      Terry Lorber
    %link{:href=>"/css/main.css", :rel=>"stylesheet"}
    %link{:rel=>"stylesheet",:href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"}
    %meta{:name=>"viewport",:content=>"width=device-width, initial-scale=1.0"}

  %body
    %div{:class=>"scroll-button"}
    %a{:href=>"#home"}
      %i{:class=>"fas fa-arrow-up"}
