/*
	$Id: ie6.css,v 1.2.2.1 2008/08/03 20:07:47 couzinhub Exp $

	Abarre Theme By Hubert Florin
	Raincity Studios
	www.raincitystudios.com
	
	Internet Explorer 6 Stylesheet
*/

* html #sidebar-left {
  left: 30px;  /* RC width */
}

/*HasLayout Bug */
.node-form .form-item label, #sidebar-left .block, #header{
	display:inline-block;
}
ul.tabs li a, ul.tabs li{
	height:1%;
	width:100px;
}
ul.tabs{
	position:absolute;
}

/* header */
#search-theme-form{
	float:right;
	position:static;
	margin-right:30px;
	display:inline;
}

/* content */
#content {
	height:450px;
}
#main{
	padding:0 30px 0 330px;
}
#content .admin .left, #content .admin .right{
	margin:0;
}

/* form */
#user-login-form .form-item label{
	margin-left:25px;
}