/*
	$Id: ie7.css,v 1.2.2.1 2008/08/03 20:07:47 couzinhub Exp $
	Abarre Theme By Hubert Florin
	Raincity Studios
	www.raincitystudios.com
	
*/

#sidebar-left {
  left: 80px;  /* RC width */
}
/*HasLayout Bug */
.node-form .form-item label, #sidebar-left .block, #header{
	display:inline-block;
}
