/*
	$Id: style.css,v 1.1.4.6 2008/08/03 23:14:53 couzinhub Exp $
	Abarre, for Drupal 6
	Hubert Florin at Raincity Studios
	www.raincitystudios.com 
*/

/*------------------------------------
						Reset CSS 
------------------------------------*/

* {
	margin:0;
	padding:0;
}

/*------------------------------------
				Colors for color module
------------------------------------*/

/* text main */
#main{
	color:#545454;
}
/* lighter text main */
#main .node .submitted{
	color:#868686;
}
/* text titles main */
#main h1,
#edit-title,
#user-login-form .form-item label,
#footer #block-menu-2 ul,
#footer #block-menu-2 li, 
#footer #block-menu-2 a{
	color:#747163;
}
/* Links all */
a, a:link, a:visited, #site-slogan{
	color:#d63e03;
}
#main .links li.comment_add a,
#main .links li.comment_comments a,
#main .links li.comment_edit a,
#main .links li.comment_delete a,
#main .links li.comment_reply a{
	background-color:#d63e03;
}
/* Links all hover */
a:hover, a:active{
	color:#8A2A03;
}
#main .links ul li.comment_add a:hover,
#main .links ul li.comment_comments a:hover,
#main .links ul li.comment_edit a:hover,
#main .links ul li.comment_delete a:hover,
#main .links ul li.comment_reply a:hover{
	background-color:#8A2A03;
	text-decoration:none;
}

/* colors sidebar */

/* Text Sidebar */
#sidebar-left .content{
	color:#4f4f4f;
}
/* Links menu Sidebar */
#sidebar-left ul ul li a,
#sidebar-left ul ul ul li a,
#sidebar-left .links li a.active, 
#sidebar-left  .links li a:hover{
	color:#d63e03;
}
/* Links Sidebar hover */
#sidebar-left a:hover,
#sidebar-left ul ul li a:hover, 
#sidebar-left ul ul li a.active,
#sidebar-left ul ul ul li a:hover, 
#sidebar-left ul ul ul li a.active{
	color:#8A2A03;
}
#sidebar-left li a.active,
#sidebar-left h2.title,
#sidebar-left ul li,
#sidebar-left .links li a{ 
	color:#3e3e3e;
}
#sidebar-left tr, #sidebar-left td{
	border-bottom:1px solid #747163;
}


/*******************************************************************
* Color Module: Don't touch                                       *
*******************************************************************/

/*------------------------------------
						General Layout 
------------------------------------*/

body{
	font-family:"trebuchet ms",arial,sans-serif;
	font-size:0.85em;
	background:transparent url(images/bg.gif) repeat-y;
	min-width: 800px;
	max-width: 1300px;
}
#header{
	position:relative;
	margin:0 80px 10px 330px;
	padding-bottom:10px;
	padding-top:20px;
	border-bottom:1px dotted #D2D2BB;
}
.column {
	float:left;
	position:relative;
}
#main{
	padding:0 80px 0 330px;
}
#content {
	margin-bottom:20px;
  width: 100%;
	min-height:450px;
}
#sidebar-left {
	text-align:right;
	width:291px;
	right:330px;
	margin-left: -100%;
}
#footer{
	height:45px;
	background:transparent url(images/footer-corner.gif) no-repeat top left;
	clear:both;
	margin:0 30px 0 225px;
}

/*------------------------------------
						Header Design
------------------------------------*/

#header h1 a{
	font-size:1.3em;
	text-decoration: none;
}
#header #logo{
	float:left;
	margin-right:15px;
}
#site-slogan{
	font-size:1.3em;
}
#search-theme-form{
	position:absolute;
	right:10px;
	bottom:5px;
}

/*------------------------------------
						Sidebar Design 
------------------------------------*/

#sidebar-left a{
	text-decoration: none;
}
#sidebar-left h2.title{
	background:transparent url(images/header-side.gif) repeat top left;
}
#sidebar-left .block{
	margin:10px 0 20px 0;
	padding:0 0 0 15px;
	background:transparent url(images/block.gif) no-repeat top left;
}
#sidebar-left h2.title{
	margin:6px 7px 0 0;
	float:right;
	font-size:1.2em;
	padding:0 10px 0 15px;
}
#sidebar-left .node{
	padding-bottom:10px;
	border-bottom:1px solid #fff;
	margin-bottom:15px;
}
#sidebar-left .node h2.title{
	float:none;
}
#sidebar-left ul{
	padding:0;
	margin:5px 0 5px 0;
	text-align:right;
}
#sidebar-left ul li {
	list-style:none;
	list-style-image:none;
	padding:0 0 3px;
}
#sidebar-left ul li a{
	background:transparent url(images/side-li.gif) no-repeat center right;
	padding-right:20px;
	margin-right:-18px;
}
#sidebar-left ul ul li a{
	font-size:0.9em;
}
#sidebar-left ul li a:hover, #sidebar-left ul li a.active{
	background:transparent url(images/side-li-active.gif) no-repeat center right;
}
#sidebar-left ul li a.active{
	font-weight:bold;
}
#sidebar-left ul ul{
	margin:5px 0;
}
#sidebar-left ul ul ul{
	font-size:0.95em;
	margin-right:20px;
	padding-bottom:10px;
}
#sidebar-left ul ul li a{
	background:transparent url(images/primary.gif) no-repeat center right;
}
#sidebar-left ul ul li a:hover, #sidebar-left ul ul li a.active{
	background:transparent url(images/primary-active.gif) no-repeat center right;
}
#sidebar-left ul ul ul li a{
	padding-right:10px;
	background:transparent url(images/bullet.gif) no-repeat 100% 6px;
}
#sidebar-left ul ul ul li a:hover, #sidebar-left ul ul ul li a.active{
	background:transparent url(images/bullet.gif) no-repeat 100% 6px;
}

#sidebar-left .block .content{
	clear:right;
	margin:0;
	padding:10px 18px 0 0;
}
#sidebar-left tr.even{
	background-color:transparent;
}


/* ----- Primary / Secondary Links --------- */

#sidebar-left .links{
	background:none;
	margin:0;
	padding:0;
}
#sidebar-left .links li{
	display:block;
	background:transparent;
	margin:5px 0;
	padding:0;
}
#sidebar-left .links li a{
	background:transparent url(images/primary.gif) no-repeat center right;
	font-size:1em;
	font-weight:bold;
	position:static;
	margin-right:0;
	text-transform:capitalize;
}
#sidebar-left .links li a.active, #sidebar-left  .links li a:hover{
	background:transparent url(images/primary-active.gif) no-repeat center right;
}


/* ----- Navigation --------- */

#sidebar-left #block-user-1 ul li a{
	left:34px;
}

/* --------- Login ---------- */

#sidebar-left #block-user-0{
	padding:0 0 10px 0px;
}
#user-login-form{
	padding:5px 0;
	text-align:right;
}
#user-login-form .form-item, #user-login-form #edit-submit{
	margin:5px 0 0 10px;
}
#user-login-form .form-item label{
	font-size:0.9em;
	margin-left:40px;
	float:left;
}
#user-login-form .item-list{
	margin-top:10px;
}

/*------------------------------------
						Main Content Design 
------------------------------------*/

div#mission{
	color:#a2a198;
}
div#mission,
#main .content blockquote{
	border-right:1px solid #deded9;
	border-left:1px solid #deded9;
}
.feed-icon{
	float:right;
}
.breadcrumb {
	padding:0;
	margin:10px 0;
}
#main .links li{
	padding-left:0;
	margin-left:0;
	background: none;
}
#main .content p, #main .node .content{
	font-family:arial,sans-serif;
	line-height:1.55em;
}
#main .content p{
	margin-bottom:10px;
}
#main h1{
	text-transform:capitalize;
}
#main a{
	text-decoration:none;
}
#main a:hover{
	text-decoration:underline;
}
div#mission{
	font: italic 110% georgia, times, serif;
	line-height:1.5em;
	padding:20px;
	margin:20px 0;
	background:transparent url(images/shadow-bottom.gif) repeat-x top left;
}
.content ul, .content ol{
	margin:0 0 20px 20px;
}
#main .content ul ul, #main .content ol ol,
#main .content ul ol, #main .content ol ul{
	margin-bottom:0;
}
dl dt{
	font-weight:bold;
}
dl dd{
	margin-left:10px;
	font-style:italic;
}
#main .content hr{
	border:1px dotted #ccc;
	margin-bottom:10px;
}
#main .content blockquote{
	font-style:italic;
	padding:10px;
	margin:20px 50px;
	background:#fff url(images/shadow-bottom.gif) repeat-x top left;
}

/*------- blog post and story ----------*/

#main .node{
	margin:0 0 20px;
	padding-bottom:30px;
	border-bottom:1px dotted #CCCCCC;
}
#main .node h2 a{
	font-size:120%;
}
#main .node h2 a:hover,
#main .node .links a:hover{
	text-decoration:none;
}
#main .node .submitted{
	display:block;
	font-size:80%;
}
#main .node .links ul,
#main #comments .links ul{
	display:block;
	margin-top:10px;
}
#main .node .links ul li,
#main #comments ul li{
	margin:0 10px 0 0;
}

/*-------------- icons----------- */

#main .links ul li.comment_add a:hover,
#main .links ul li.comment_comments a:hover,
#main .links li.comment_add a,
#main .links li.comment_comments a,
#main .links ul li.comment_edit a:hover,
#main .links li.comment_edit a,
#main .links ul li.comment_delete a:hover,
#main .links li.comment_delete a,
#main .links ul li.comment_reply a:hover,
#main .links li.comment_reply a{
	background-repeat:no-repeat;
	background-position:top left;
}
#main .links ul li.comment_add a:hover,
#main .links ul li.comment_comments a:hover{
	background-image: url(images/comment.gif);
}
#main .links li.comment_add a,
#main .links li.comment_comments a{
	height:9px;
	padding:0 0 0 13px;
	background-image: url(images/comment.gif);
}
#main .links ul li.comment_edit a:hover{
	background-image: url(images/edit.gif);
}
#main .links li.comment_edit a{
	height:9px;
	padding:0 0 0 13px;
	background-image: url(images/edit.gif);
}
#main .links ul li.comment_delete a:hover{
	background-image: url(images/delete.gif);
}
#main .links li.comment_delete a{
	height:9px;
	padding:0 0 0 13px;
	background-image: url(images/delete.gif);
}
#main .links ul li.comment_reply a:hover{
	background-image: url(images/reply.gif);
}
#main .links li.comment_reply a{
	height:9px;
	padding:0 0 0 13px;
	background-image: url(images/reply.gif);
}

/*---------- Comments ------------*/

.submitted{
	color:#989898;
	margin-bottom:10px;
	font-size:80%;
}
.submitted img{
	width:15px;
	margin-right:5px;
}
.comment{
	border-bottom:1px dotted #CCC;
	padding-bottom:15px;
	margin:10px 0 20px;
}
span.new{
	color:#fff;
	margin-right:10px;
	background-color:#c00;
	padding:0 5px;
}

/*---------- interface design ------------*/

#main tr.odd .form-item, #main tr.even .form-item{
	margin:8px 0;
}
.theme-settings-bottom, .profile, .node-form .standard{
	clear:none;
}	
.theme-settings-left, .theme-settings-right{
	float:none;
}
table{
	width:99%;
}
.messages, .status{
	color:#00A400;
}
div.tabs{
	top:5px;
	right:5px;
	position:fixed;
	z-index:999;
}
ul.tabs{
	text-align:center;
	background-color:#FFFFFF;
	padding:0;
	border:5px solid #c00;
}
.tabs .tabs li{
	display:block;
}
ul.primary li a{
	font-size:14px;
	background-color:transparent;
	border:none;
	margin:0;
	display:block;
}
ul.primary li.active a{
	border:none;
	background-color:#cdd;
}

.node-form textarea{
	width:97%;
	color:#545454;
	font:14px/1.6em arial,sans-serif;
	background:#fff url(images/shadow-bottom.gif) repeat-x top left;
}


/* misc */

.node-form .form-item label{
	font-size:12px;
	padding:3px 10px;
	display:table;
	border-top:1px solid #999;
	border-bottom:2px solid #999;
	background-color:#efefef;
}
#edit-title{
	font:bold 22px "trebuchet ms",arial,sans-serif;
	padding:3px 10px;
}
fieldset {
	width:95%;
	background-color:#fff;
}
fieldset.collapsed{
	background-color:transparent;
}
.profile img{
	float:right;
}


/*---------- Forum design ------------*/

tr, td{
	border-bottom:1px solid #ccc;
}
tr.even{
	background-color:#efefef;
}
tr.odd, td.active{
	background-color:transparent;
}
td.menu-disabled {
	background:#FFE2C6;
}
#forum .name a{
	font-size:16px;
	font-weight:bold;
}
#forum td{
	padding:10px;
}
.forum-topic-navigation{
	margin:5px 0;
}


/*------------------------------------
						Footer Design 
------------------------------------*/

#footer .content{
	padding:10px 60px 0 0;
	text-align:center;
	font-size:11px;
	margin:0 0 0 100px;
	color:#878787;
}
#footer #corner{
	height:29px;
	width:29px;
	float:right;
	height:29px;
	background:transparent url(images/footer-corner2.gif) no-repeat top left;
}
#footer #block-menu-2 h2{
	display:none;
}
#footer #block-menu-2 ul{
	text-align:center;
	font-size:70%;
	margin:0pt 85px;
	padding-top:10px;
}
#footer #block-menu-2 ul ul{
	display:none;
}
#footer #block-menu-2 ul li{
	display:inline;
}
#footer #block-menu-2 li, #footer #block-menu-2 a{
	list-style-image:none;
	list-style:none;
	text-decoration:none;
}
#footer #block-menu-2 a:hover{
	text-decoration:underline;
}