%h1
  Italian Cookies
%h2
  Leona (Castano) Lorber

%hr

%ul
  %li 12 eggs
  %li 2 cups sugar
  %li 6 teas. vanilla
  %li 7 cups flour
  %li 12 teas. baking powder
  %li 1 teas. salt
  %li 2 cups melted shortening

Mix sugar and eggs together. Add vanilla.

Sift flour, baking powder and salt together

Beat half the dry ingredients into the egg mixture

Add shortening. Mix.

Add remaining flour mixture.

Add more flour as needed to make a soft dough (about 2 cups)

Will have to mix by hand at this point.

Put dough on floured board. Knead with a little more flour to prevent from sticking.

Slice off a piece and roll into a snake about 1/2" diameter. Cut into pieces about every 2".

Shape dough into knots.

Bake at 400 degrees for  7 - 9 minutes

Make a glaze out of confectionery sugar and water

Frost cookies and sprinkle with red or green sprinkles
