%h1
  Jeff Varasano's NY Pizza Recipe

%hr

Source: http://www.varasanos.com/PizzaRecipe.htm

%table
  %thead
    %tr
      %th Ingredient
      %th 1 Pie
      %th 3 Pies
      %th 5 Pies
      %th Baker's %
      %th Grams per Liter of Water

  %tbody
    %tr
      %td Filtered water
      %td 110
      %td 330
      %td 550
      %td 65.5%
      %td 1000

      %td KA Bread Flour or Caputo Pizzeria Flour
      %td 168
      %td 510
      %td 850
      %td 100%
      %td 1527

      %td Kosher or Sea Salt
      %td 6
      %td 18
      %td 30
      %td 3.5%
      %td 55

      %td Sourdough starter (poolish or biga)
      %td 15
      %td 45
      %td 60
      %td 9%
      %td 136

      %td Instant yeast - optional
      %td 0.5
      %td 1.5
      %td 2.5
      %td 0.25%
      %td 4.5

Add 3/4 of flour and all the rest of the ingredients into a stand
mixer with dough hook. Mix on lowest setting for 2 minutes. 20 minute
autolyse rest. Start at lowest setting, mix for 5 minutes. Gradually
add remaining flour. Mix a total of 10 minutes.
