%h1
  Kombucha

%hr

Source: https://www.thekitchn.com/how-to-make-kombucha-tea-at-home-cooking-lessons-from-the-kitchn-173858

%h2
  Ingredients

%ul
  %li 7 quarts water
  %li 2 cups sugar
  %li 16 tea bags/4 tablespoons loose tea (black or green)
  %li 4 cups starter

%h3
  %em
    Optional flavorings

%ul
  %li 4 cups Strong Ginger-Turmeric Tea
